<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirroredlineprops.alex.rebelliondice" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExpandableListActivity"
            android:label="@string/title_activity_expandable_list" >
        </activity>
        <activity
            android:name=".DiceRoll"
            android:label="@string/title_activity_dice_roll" >
        </activity>
        <activity
            android:name=".expandable_dice_roll"
            android:label="@string/title_activity_expandable_dice_roll" >
        </activity>
    </application>

</manifest>
