<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirroredlineprops.alex.rebelliondice" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CharCardsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExpandableListActivity"
            android:label="@string/title_activity_expandable_list" >
        </activity>
        <activity
            android:name=".DiceRollActivity"
            android:label="@string/title_activity_dice_roll" >
        </activity>
        <activity
            android:name=".StatsListActivity"
            android:label="@string/title_activity_stats_list"
            android:parentActivityName=".CharCardsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirroredlineprops.alex.rebelliondice.CharCards" />
        </activity>
        <activity
            android:name=".DiceMainActivity"
            android:label="@string/title_activity_dice_main"
            android:parentActivityName=".StatsListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirroredlineprops.alex.rebelliondice.MainActivity" />
        </activity>
        <activity
            android:name=".CharWizardActivity"
            android:label="@string/title_activity_char_wizard" >
        </activity>
        <activity
            android:name=".StatsWizardActivity"
            android:label="@string/title_activity_stats_wizard" >
        </activity>
    </application>

</manifest>
